<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.net>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" />
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="ServiceWsHttpBinding" maxReceivedMessageSize="9000000" receiveTimeout="00:10:00" useDefaultWebProxy="false" bypassProxyOnLocal="true">
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- <services> -->
    <!--   <service behaviorConfiguration="ServiceBehavior" name="WcfHostApp.WcfDefinitions.CalculatorService"> -->
    <!--     <endpoint -->
    <!--       address="http://localhost:8080/api/calculator" -->
    <!--       binding="wsHttpBinding" -->
    <!--       contract="WcfHostApp.WcfDefinitions.ICalculatorService" -->
    <!--       bindingConfiguration="ServiceWsHttpBinding"  /> -->
    <!--   </service> -->
    <!-- </services> -->


    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="4000000" />
          <serviceThrottling maxConcurrentSessions="2500" maxConcurrentCalls="2500" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <gcServer enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Pipeline/Contracts" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
  </appSettings>
</configuration>


